* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face { 
    font-family: "Gilroy-SemiBold";
    src: url("../font/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face { 
    font-family: "Gilroy-Bold";
    src: url("../font/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "Gilroy-Medium";
    src: url("../font/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

a {
    text-decoration: none;
}

body {
    font-family: Gilroy-Bold;
}

.center {
    padding-left: calc(50% - 1173px/2);
    padding-right: calc(50% - 1173px/2);
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.main_header_logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.main_header_logo_text {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_header_menu {
    font-family: Gilroy-SemiBold;
    display: flex;
    gap: 36px;
}

.menu_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.color_text {
    color: #F25822;
}

.main_content {
    display: flex;
    padding-top: 44px;
    padding-bottom: 162px;
    gap: 40.94px;
}

.main_content_title {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main_content_paragraph {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 17px;
    margin-right: 56px;
    margin-bottom: 37px;
}

.main_content_button {
    display: flex;
    align-items: center;
    gap: 108px;
}

.button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button_paragraph {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.button_link {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_content_img {
    padding-right: 63.98px;
}

.main_partner_logo {
    display: flex;
    justify-content: space-between;
    padding-top: 97px;
    padding-bottom: 97px;
}