@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Lato;
}

.center {
    padding-left: calc(50% - 1140px/2);
    padding-right: calc(50% - 1140px/2);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 18px;
    padding-bottom: 19px;
    /* gap: 859px; */
    background-color: #222;

}

.header_left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header_right {
    display: flex;
    gap: 33px;
}

.top_promo {
    background-color: #F1E4E6;
    display: flex;
    align-items: center;
    gap: 63.42px;
    /* padding-left: calc(50% - 1600px/2);
    padding-right: calc(50% - 1600px/2); */
}

.top_promo_right {
    display: inline-block;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-bottom: 90px;
}

.top_promo_title {
    color: #222;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top_promo_subtitle {
    font-size: 32px;
    font-weight: 700;
}

.pink_text {
    color: #F16D7F;
}

.offer {
    display: grid;
    padding-top: 65px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 0.5fr);
    gap: 30px;
}

.offer_item {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    background-color: rgba(33, 22, 22, 0.70);
}

.offer_item_img {
    object-fit: cover;
    z-index: -1;
}

.offer_item_big {
    grid-area: 2/1/3/4;
}

.offer_item_title {
    position: absolute;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.offer_item_subtitle {
    font-size: 24px;
    font-weight: 700;
}

.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
    padding-bottom: 60px;
}

.catalog_title {
    color: #222;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.catalog_subtitle {
    color: #9F9F9F;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.catalog_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
    padding-bottom: 48px;
}

.catalog_content_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.catalog_content_item_text {
    background-color: #F8F8F8;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 28.8px;
}

.catalog_content_item_title {
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12.65px;
}

.catalog_content_item_paragraph {
    color: #5D5D5D;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 18px;
}

.catalog_content_item_price {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.background-color {
    background-image: url(../img/catalog_item_2_background.png);
}

.button {
    font-size: 16px;
    width: 212px;
    height: 48px;
    border: 1px solid #F16D7F;
    color: #F16D7F;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 734.581px/2);
        padding-right: calc(50% - 734.581px/2);
    }

    .header {
        padding-left: calc(50% - 718.941px/2);
        padding-right: calc(50% - 710.071px/2);    
    }

    .top_promo {
        gap: 39px;
        padding-left: calc(50% - 769.572px/2);
        padding-right: calc(50% - 769.572px/2);
    }

    .img_promo {
        width: 386px;
        height: 368px;
        flex-shrink: 0;
    }

    .top_promo_title {
        font-size: 44px;
    }
    
    .top_promo_subtitle {
        font-size: 24px;
    }

    .offer {
        gap: 19.3px;
    }

    .offer_item_img {
        width: 100%;
    }

    .catalog_title {
        margin-bottom: 3.3px;
    }

    .catalog_subtitle {
        margin-bottom: 73.74px;
    }

    .catalog_content {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 16px;
        padding-bottom: 32.48px;
    }
}