* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main_header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.main_header_logo_text {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu_link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.color_text {
    color: #F25822;
}

.main_content {
    padding-top: 44px;
    padding-bottom: 162px;
}

.main_content_title {
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_content_paragraph {
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button {
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.button_paragraph {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_link {
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_partner_logo {
    padding-top: 97px;
    padding-bottom: 97px;
}